@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Archivo+Black&family=Prompt:wght@900&display=swap');

:root{
    --color1: #e4514f;
    --color2: #1f2233;
    --color3: #ffffff;
    --color4: #292d40;
    --color5: #d1d1d1;
    --color6: #3c4056;
    --color7: #353b56;
}

html{
    scroll-behavior: smooth;
}

*{
    box-sizing: border-box;
    margin: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #1c1c1c;
    color: white;

    max-width: 1000px;
    margin: auto;
}

a{
    color: var(--color3);
    font-weight: bolder;
    text-decoration: none;
    transition: 0.5s;
}
a:hover{
    color: var(--color1);
}

/*HEADER CONFIG*/
.background-img{
    position: relative;    
}
.background-img::after{
    position: absolute;
    width : 100%;
    height: 100%;
    z-index: -1;
    content: "";
    background-image: url(../imgs/pexels-joyston-judah.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center right;
    opacity: 0.5;
}
.h_flex{
    display: flex;
    flex-direction: column;  
}
.flex_nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 15px;
}
.flex_nav .nav_links{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    flex-basis: auto;
}
.flex_nav a:last-child{
    color: var(--color1);
    border: 1px solid var(--color1);
    border-radius: 7px;
    padding: 8px;
    margin: 0 0 0 35px;
    transition: 0.5s;
}
.flex_nav a:last-child:hover{
    color: var(--color3);
    border: 1px solid var(--color3);
}
.h_flex .box{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 100px 0;
}
.h_flex .box img{    
    width: 40%;
    border-radius: 50%;
    filter: grayscale(0.3);
    transition: 0.5s;
    border: 3px solid transparent;
}
.h_flex .box img:hover{
    filter: grayscale(0);
}
.h_flex .box img:hover{
    animation-name: twink;
    animation-duration: 1s;
    animation-delay: 0;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
    transition: 0.5s linear;
}

.h_flex .box h1{
    font-family: 'Prompt', sans-serif;
    font-size: 38px;
    color: var(--color1);
}
.h_flex .box h1::before{
    content: "</";
    color: #56bd97;
    animation-name: opacity;
    animation-duration: 1s;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}
.navbar h2{
    font-family: 'Prompt', sans-serif;
    font-size: 30px;
}
.navbar h2 span{
    color: var(--color1);
    font-weight: bolder;    
}






.content .section-01{
    position: relative;
}
.content .section-01::before{
    content: "01";
    position: absolute;
    top: 50px;
    right: 40px;

    font-size: 42px;
    font-weight: bold;
    color: var(--color7);
}
.content .section-01::after{
    content: "";
    position: absolute;
    top: 60px;
    right: 15px;
    height: 30px;
    transform: rotate(90deg);
    border-right: 2px solid var(--color1);
}
.content .section-01 article{    
    overflow: hidden;
    background-color: var(--color2);
    padding: 70px 80px;
}
.content .section-01 article img{
    float: left;
    width: 32%;
    margin-right: 30px;
    filter: grayscale(0.3);
    transition: 0.5s;
    border: 3px solid transparent;
}
.content .section-01 article img:hover{
    filter: grayscale(0);  
    animation-name: twink;
    animation-duration: 1s;
    animation-delay: 0;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
    transition: 0.5s linear;
}
.content .section-01 article h2{    
    font-weight: bolder;
    font-size: 30px;
}
.content .section-01 article .view-word{
    position: relative;
}
.content .section-01 article .view-word::after{
    position: absolute;
    content: "Discover";
    font-size: 14px;
    color: var(--color1);
    top: -15px;
    left: 0;
}
.content .section-01 article p{
    margin: 10px;
    color: var(--color5);
}
.content .section-01 article .destaque{
    font-weight: bold;
    color: var(--color1);
}



.content .section-02{
    position: relative;
    background-color: var(--color4);
}
.content .section-02::before{
    position: absolute;
    content: "02";
    top: 50px;
    right: 40px;

    font-size: 42px;
    font-weight: bold;
    color: var(--color6);
}
.content .section-02::after{
    content: "";
    position: absolute;
    top: 60px;
    right: 15px;
    height: 30px;
    transform: rotate(90deg);
    border-right: 2px solid var(--color1);
}
.content .section-02 article{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    "header header header"
    "box1 box2 box3";

    padding: 60px;
}
.content .section-02 article h2{
    color: var(--color3);
    margin-left: 10px;
    grid-area: header;
}
.content .section-02 article .box:nth-of-type(1){
    grid-area: box1;
}
.content .section-02 article .box:nth-of-type(2){
    grid-area: box2;
}
.content .section-02 article .box:nth-of-type(3){
    grid-area: box3;
}

.content .section-02 article .box{
    margin: 30px 10px;
    padding: 15px;
    border: 2px solid var(--color1);
    border-radius: 5px;
    transition: 0.5s;
}
.content .section-02 article .box:hover{
    border: 2px solid #ae2725;
}
.box p{
    color: var(--color5);
    padding: 15px 0 10px;    
}






.border_color{
    display: inline-block;
    border: 2px solid var(--color1);
    border-radius: 6px;
    padding: 10px; 
    transition: 0.5s;   
}
.border_color:hover{
    border: 2px solid #ae2725;
}
.border_color ul{
    display: block;
    list-style: none;
    padding: 10px;
}
.flex_list{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
ul li{
    color: var(--color5);
    margin: 10px 0;
}

.border_bottom{
    position: relative;
    padding-bottom: 3px;
}
.border_bottom::after{
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    width: 30%;
    left: 0;
    border-bottom: 2px solid var(--color1);
    transition: 0.5s;
}
.border_bottom:hover.border_bottom::after{
    width: 100%;
}

.clearfix{
    clear: both;
}


@keyframes colored_shadow{
    0%{
        box-shadow: 0px 0px 10px 0px #e4514f;
    }
    50%{
        box-shadow: 0px 0px 10px 0px #ffffff77;
    }
    100%{
        box-shadow: 0px 0px 10px 0px #0059ff77;
    }
}

@keyframes opacity{
    from {
        opacity: 1;
    }
    to{
        opacity: 0.1;
    }
}

@keyframes stir{
    0%{

    }
}

@keyframes twink{
    from {
        border: 3px solid transparent;
    }
    to{        
        border: 3px solid #56bd97;
        box-shadow: 0px 0px 10px 0px #56bd97;
    }
}