@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Archivo+Black&family=Prompt:wght@900&display=swap');

:root{
    --color1: #e76664;
    --color2: #1f2233;
    --color3: white:
}

*{
    box-sizing: border-box;
    margin: 0;
    /*outline: 1px solid white;*/
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #1c1c1c;
    color: white;

    max-width: 1000px;
    margin: auto;
}

a{
    color: var(--color3);
    font-weight: bolder;
    text-decoration: none;
}
a:hover{
    color: var(--color1);
}

.h_flex{
    display: flex;
    flex-direction: column;  
}
.flex_nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 15px;
}
.flex_nav .nav_links{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    flex-basis: auto;
}
.flex_nav a:last-child{
    color: var(--color1);
    border: 1px solid var(--color1);
    border-radius: 7px;
    padding: 8px;
    margin: 0 0 0 35px;
}
.background-img{
    background-image: url(imgs/pexels-joyston-judah.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center right;
}
.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 100px 0;
}
.box img{
    width: 40%;
}
.box h1{
    font-family: 'Prompt', sans-serif;
    font-size: 38px;
    color: var(--color1);
}

.navbar h2{
    font-family: 'Prompt', sans-serif;
    font-size: 30px;    
}
.navbar h2 span{
    color: var(--color1);
    font-weight: bolder;    
}






.content section{
    position: relative;    
}
.content section article{    
    overflow: hidden;
    background-color: var(--color2);
    padding: 60px;    
}
.content section article img{
    float: left;
    width: 30%;
    margin: 0 30px;
    outline: 2px solid #000000;
}
.content section article h2{
    font-weight: bolder;
    font-size: 30px;
}
.content section article p{
    margin: 10px;
    color: #b6b6b6;
}
.content section article .destaque{
    font-weight: bold;
    color: var(--color1);
}
.content section .section{
    position: absolute;
    top: 50px;
    right: 0;
    padding: 10px 15px;

    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 40px;
    color: #b6b6b6;
}





.border_color{
    display: inline-block;
    border: 2px solid var(--color1);
    border-radius: 6px;
    padding: 10px;    
}
.border_color ul{
    display: block;
    list-style: none;
    padding: 10px;
}
.flex_list{
    display: flex;
    justify-content: space-around;
}
ul li{
    margin: 10px 0;
}